{% extends 'hello/base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
  <h3>detail page</h3>
</div>
{% endblock header %}


{% block content %}
{% if user.is_authenticated %}
<div class="container">
	<div class="alert alert-success" role="alert">
	  <p>タイトル：{{ object.title }}</p>
	  <p>投稿者：{{ object.author }}</p>
	  <p><img src="{{ object.image.url }}"></p>
	  <a href="{% url 'good' object.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">いいねする：{{ object.good }}</a>
	</div>
	 <a href="{% url 'logout' %}">logout</a>
</div>
{% else %}
please login
{% endif %}

{% endblock content %}