{% extends 'hello/base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
  <h3>口コミ</h3>
</div>
{% endblock header %}


{% block content %}
{% if user.is_authenticated %}
<div class="container">
	{% for item in object_list %}
	<div class="alert alert-success" role="alert">
	  <p>タイトル：<a href="{% url 'detail' item.pk %}">{{ item.title }}</a></p>
	  <p>投稿者：{{ item.author }}</p>
	  <a href="#" class="btn btn-primary btn-lg active disabled" role="button" aria-pressed="true">いいね数：{{ item.good }}</a>
	</div>
	{% endfor %}
	 <a href="{% url 'logout' %}">logout</a>
	 <a href="{% url 'create' %}">post</a>
</div>
{% else %}
please login
{% endif %}

{% endblock content %}