@charset "UTF-8";

/* 共通部分
--------------------------------*/
html {
  font-size: 100%;
  color: black;
}
body{
  font-family: "Yu gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: rgb(8, 8, 8);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}


/* HEADER
--------------------------------*/
.logo {
  width: 210px;
  margin-top: 34px;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a {
  color: rgb(12, 12, 11);
}
.main-nav a:hover {
  color: #0db;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  max-width: 2100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* HOME
--------------------------------*/
.home-content {
  text-align: center;
  margin-top: 10%;
}
.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

/* 見出し */
.page-title {
  font-size: 5rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}

/* ボタン */
.button {
  font-size: 1.375rem;
  background: #0db;
  color: rgb(10, 10, 10);
  border-radius: 5px;
  padding: 18px 32px;
}
.button:hover {
  background: #0090aa;
}

/* 大きな背景画像 */
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: url(./main-bg1.jpg);
  min-height: 100vh;
}
#home .page-title {
  text-transform: none;
}

.uploaded-picture {
  display: flex;
  justify-content: flex-end;
  border-radius: 50%;
  width: 210px;
  margin-top: 98px;
  margin-left: auto;
  margin-right: 280px;
}

.result {
  margin-right: auto;
}

.main-nav img {
  /*display: flex;
  justify-content: flex-end;*/
  border-radius: 50%;
  width: 210px;
  /*margin-top: 98px;
  /*margin-left: auto;
  /*margin-right: 280px;*/
}

/* 横並び */

.flex {
  display: flex; /*横並び*/
}
.container .image {
  width: 500px; /*画像サイズ指定*/
  border-radius: 50%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.container .right {
  margin: 0 0 0 20px;
  padding: 0;
}
.container .title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 36px;
}
.container .text {
  margin: 34px 0 0;
  text-align: center;
  padding: 0;
  font-size: 30px;
  font-family: 'Philosopher', serif;
}

.container .unit {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Philosopher', serif;
}

.container {
  display: flex;
  justify-content: space-around;
}

/*バランスシートのグラフ--------------------------------


#chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#circle {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 10px 0 0 10px;
}

li {
  margin: 3px 0 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.box {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

li:nth-child(1) .box {
  background: #dbcdf0;
}

li:nth-child(2) .box {
  background: #c9e4de;
}

li:nth-child(3) .box {
  background: #faedcb;
}

li:nth-child(4) .box {
  background: #c6def1;
}

li:nth-child(5) .box {
  background: #f2c6de;
}

li:nth-child(6) .box {
  background: #f7d9c4;
}
*/